<nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark">
    <div class="container">
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-6">
        <span class="visually-hidden">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
        <div id="navcol-6" class="collapse navbar-collapse d-md-flex d-lg-flex d-xl-flex flex-grow-0 justify-content-md-center order-md-first justify-content-lg-center justify-content-xl-center" *ngIf="!isRootLink()" style="width: 90vw;">
            <ul class="navbar-nav d-xl-flex justify-content-xl-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/lista-empleados" routerLinkActive="active">
                        <button routerLinkActive="active" id="btn-navs" class="btn btn-primary" type="button">
                Empleados
              </button>
                    </a>
                </li>
                <li class="nav-item" style="background: rgba(255,255,255,0);" routerLinkActive="active">
                    <a class="nav-link" href="/lista-puestos" style="background: rgba(255,255,255,0);">
                        <button routerLinkActive="active" id="btn-navs" class="btn btn-primary" type="button">
                Puestos
              </button>
                    </a>
                </li>
                <li class="nav-item" style="background: rgba(255,255,255,0);" routerLinkActive="active">
                    <a class="nav-link" href="/lista-relaciones" style="background: rgba(255,255,255,0);">
                        <button routerLinkActive="active" id="btn-navs" class="btn btn-primary" type="button">
                Empleados&amp;Puestos
              </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-none d-md-block"></div>
        <a class="navbar-brand" href="#" id="custom-text" *ngIf="isRootLink()">
        Ricardo Quintero Salazar - Front-End Developer
      </a>
    </div>
</nav>

<div id="wrapper" style="margin: 30px;">
    <!-- <app-persona></app-persona>
    <app-puesto></app-puesto> -->
    <router-outlet></router-outlet>
</div>